<header class="site-header" role="banner">
  <div class="wrapper">
    <nav role="navigation">
      <div class="nav-wrapper container">
        <a href="{{ " / " | relative_url }}" class="brand-logo">{{ site.title | escape }}</a>
        <ul class="right hide-on-med-and-down">
          <li class="{% if page.url contains '/blog/' %}active{% endif %}">
            <a href="/blog/">Blog</a>
          </li>
          <li class="{% if page.url == '/about/' %}active{% endif %}">
            <a href="/about/">About</a>
          </li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li class="{% if page.url contains '/blog/' %}active{% endif %}">
            <a class="waves-effect waves-teal" href="/blog/">Blog</a>
          </li>
          <li class="{% if page.url == '/about/' %}active{% endif %}">
            <a class="waves-effect waves-teal" href="/about/">About</a>
          </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>
